<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Names</key>
	<array>
		<string>Aleksander</string>
		<string>Adrian</string>
		<string>Filip</string>
		<string>Grzegorz</string>
		<string>Hubert</string>
		<string>Jakub</string>
		<string>Marek</string>
		<string>Mateusz</string>
		<string>Tomasz</string>
		<string>Łukasz</string>
		<string>Kamil</string>
		<string>Mikołaj</string>
		<string>Piotr</string>
		<string>Damian</string>
		<string>Dawid</string>
		<string>Daniel</string>
		<string>Krzysztof</string>
		<string>Janusz</string>
		<string>Bartłomiej</string>
		<string>Bartosz</string>
		<string>Wojciech</string>
		<string>Dominik</string>
		<string>Michał</string>
		<string>Marcin</string>
		<string>Mirosław</string>
		<string>Wojciech</string>
		
	</array>
	<key>Surnames</key>
	<array>
		<string>Komorowski</string>
		<string>Kowalski</string>
		<string>Nowak</string>
		<string>Owsiak</string>
		<string>Sikorski</string>
		<string>Tusk</string>
		<string>Czartoryski</string>
	</array>
</dict>
</plist>
